<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <title>Game Management</title>
</head>
<body>
<!-- Insert the contents of the navbar.html -->
<div th:insert="~{navbar.html}"></div>

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col">
            <h1>Manage Games</h1>
            <hr/>
            <div class="row">
                <div class="col-10">
                    <input type="text" id="search" class="form-control mr-3" placeholder="Search games...">

                    <div class="form-row mt-2">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input type="checkbox" id="singleplayer-filter" class="form-check-input" onchange="filterGames()">
                                <label for="singleplayer-filter" class="form-check-label">Singleplayer</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input type="checkbox" id="multiplayer-filter" class="form-check-input" onchange="filterGames()">
                                <label for="multiplayer-filter" class="form-check-label">Multiplayer</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="input-group-append">
                        <select id="search-type" class="form-select">
                            <option value="title">Title</option>
                            <option value="genre">Genre</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary mt-1" onclick="filterGames()">Search</button>
                </div>
            </div>

            <hr/>
            <h2>Search Results</h2>
            <table class="table mt-2">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Multiplayer</th>
                    <th>Singleplayer</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate over the list of games and display each game in a table row -->
                <tr th:each="game : ${games}" class="game-row">
                    <td th:text="${game.title}"></td>
                    <td th:text="${game.genre}"></td>
                    <td>
                        <span th:if="${game.multiplayer}">Yes</span>
                        <span th:unless="${game.multiplayer}">No</span>
                    </td>
                    <td>
                        <span th:if="${game.singleplayer}">Yes</span>
                        <span th:unless="${game.singleplayer}">No</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a th:href="@{'/games/admin/edit/' + ${game.id}}" class="btn btn-primary btn-sm">Edit</a>
                            <form style="margin-left: 5px;" th:action="@{'/games/admin/delete/' + ${game.id}}" method="post" onsubmit="return showConfirmationModal(event)">
                                <button  type="submit" class="btn btn-danger btn-sm" >Delete</button>
                                <input type="hidden" name="_method" value="DELETE" />
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Modal for confirmation -->
<div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-no-close">
                <h5 class="modal-title">WARNING</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deleting this game will also delete all of the game's reviews. Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmDeleteBtn" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    function filterGames() {
        let input = document.getElementById("search").value.toLowerCase();
        let searchType = document.getElementById("search-type").value;
        let rows = document.getElementsByClassName("game-row");
        let singleplayerFilter = document.getElementById("singleplayer-filter").checked;
        let multiplayerFilter = document.getElementById("multiplayer-filter").checked;

        for (let i = 0; i < rows.length; i++) {
            let title = rows[i].getElementsByTagName("td")[0].innerText.toLowerCase();
            let genre = rows[i].getElementsByTagName("td")[1].innerText.toLowerCase();
            let isSingleplayer = rows[i].getElementsByTagName("td")[3].innerText.toLowerCase() === "yes";
            let isMultiplayer = rows[i].getElementsByTagName("td")[2].innerText.toLowerCase() === "yes";

            if (searchType === "title") {
                if (title.includes(input) && (!singleplayerFilter || (singleplayerFilter && isSingleplayer)) && (!multiplayerFilter || (multiplayerFilter && isMultiplayer))) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            } else if (searchType === "genre") {
                if (genre.includes(input) && (!singleplayerFilter || (singleplayerFilter && isSingleplayer)) && (!multiplayerFilter || (multiplayerFilter && isMultiplayer))) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
    function showConfirmationModal(event) {
        event.preventDefault(); // Prevent the form from submitting immediately

        // Add event listener to the modal's delete button
        let confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
        confirmDeleteBtn.addEventListener('click', function() {
            // Submit the form when the delete button in the modal is clicked
            event.target.submit();
        });

        // Show the confirmation modal
        $('#confirmationModal').modal('show');

        // Add event listener to the modal's cancel button
        let cancelBtn = document.querySelector('#confirmationModal .modal-footer button[data-dismiss="modal"]');
        cancelBtn.addEventListener('click', function() {
            // Close the confirmation modal
            $('#confirmationModal').modal('hide');
        });
        return false; // Prevent the form from submitting
    }
</script>
<script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</body>
</html>
