.table-fixed-size {
    table-layout: fixed;
    width: 100%;
}

.table-fixed-size td,
.table-fixed-size th {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 0;
}

.form {
    margin-right: 5px;
}