<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/form.css}" />
  <link rel="stylesheet" th:href="@{/css/general.css}" />
  <title>Add Game</title>
</head>
<body>
<!-- Insert the contents of the navbar.html -->
<div th:insert="~{navbar.html}"></div>

<div class="container card mb-5 mt-5">
  <div class="row">
    <div class="col" >
      <h3>Add New Game</h3>
      <div th:insert="~{addgameform.html}"></div>
    </div>
  </div>
</div>

<script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</body>
</html>
